.mypage {
  width: 100%;
  height: 100%;
  /* position: relative; */
}
/*
==================
모달
==================
 */
#mypageMain {
  width: 100%;
  height: 100%;
  position: relative;
}
.hidden {
  height: 100%;
  min-height: 100%;
  overflow: hidden !important;
  touch-action: none;
}
.noshow {
  display: none;
}
/*
==================
 프로필 수정 역역  
==================
 */
.mypage > #mypageMain > #profileBox {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  /* margin: 30px auto; */
  margin: 30px auto 20px auto;
  /* top right bottom left */
}
.profile {
  width: 100%;
  height: 100%;
  display: block;
}
#uploadProfile {
  display: none;
}
.mypage > #mypageMain > #ProfileUploadText {
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  color: #263cff;
  margin: auto;
}
/*
==================
 닉네임 수정 역역  
==================
 */
.mypage > #mypageMain > #nick {
  position: relative;
  width: 326px;
  height: 67px;
  background: #ffffff;
  box-shadow: 0px 143px 57px rgba(0, 0, 0, 0.01),
    0px 81px 48px rgba(0, 0, 0, 0.05), 0px 36px 36px rgba(0, 0, 0, 0.09),
    0px 9px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 30px auto;
}
/*
-------------------------
닉네임 수정 영역 내부
-------------------------
 */
.mypage > #mypageMain > #nick h2 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
}
.mypage > #mypageMain > #nick > .nickname_box {
  float: left;
  width: 23%;
  padding: 23px 0px 10px 28px;
}
.mypage > #mypageMain > #nick > #nick_content {
  float: left;
  width: 28%;
  padding: 23px 0px 10px 28px;
  /* top right bottom left */
}
.mypage > #mypageMain > #nick > #nick_title {
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  display: flex;
  align-items: left;
  text-align: center;
  font-weight: bold;
}
/* 닉네임 수정 느낌 주려고 연필 이미지 넣음  */
.pencilImg {
  position: absolute;
  left: 85%;
  right: 14.13%;
  top: 33%;
  bottom: 79.32%;
  width: 20px;
  height: 20px;
}
/*
--------------------------------
닉네임 작성하는 모달창 css
--------------------------------
 */
/* 닉네임 작성하는 input */
#writeNick {
  display: block;
  border: none; /* 기본 테두리 제거 */
  border-bottom: 1px solid #ccc; /* 하단 라인 추가 */
  margin: 0 auto;
}
/* 확인버튼 */
#nickChangeBtn {
  position: absolute;
  width: 120px;
  height: 39px;
  background: #e0e0e0;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  margin: 90px 0 10px 75px;
}
#nickT {
  margin: 20px auto;
}
/*
--------------------------------
모달창 ( 닉네임 수정 모달 페이지 )
-------------------------
 */
.aaaa {
  position: absolute;
  z-index: 1000000000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.bbbb {
  width: 266px;
  height: 137px;
  /* left: 59px; */
  /* left: calc(50% - 150px); */
  /* top: 221px; */
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 180px auto;
}
.cccc {
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  color: #000000;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
/*
==================
등록 카드 리스트 
==================
 */
.mypage > #mypageMain > #card {
  width: 326px;
  background: #ffffff;
  box-shadow: 0px 143px 57px rgba(0, 0, 0, 0.01),
    0px 81px 48px rgba(0, 0, 0, 0.05), 0px 36px 36px rgba(0, 0, 0, 0.09),
    0px 9px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-weight: 600;
  font-size: 17px;
  line-height: 19px;
  margin: 30px auto;
}
/*
-------------------------
카드 리스트 영역 내부
-------------------------
 */
#card > #card_title {
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 30px;
  text-align: left;
  padding-bottom: 10px;
  justify-content: center;
}
input[type="checkbox"] {
  zoom: 1.5;
}

/*
-------------------------
test ( div 위치 배치 )
-------------------------
 */
.mypage > #mypageMain > #card > .cardList {
  display: flex;
  align-items: center;
  margin: 15px 20px;
}
.cardImage {
  flex: 0 0 70px;

  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}
.cardText {
  flex: 1;
  /* display: flex;
  flex-direction: column;
  */
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 15px;
}
.card_button {
  width: 300px;
  height: 15px;
  background-color: #d3d3d3;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
/*
-------------------------
test end
-------------------------
 */
/* .mypage > #mypageMain > #card > .card_list {
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
  background: #ffffff;
}
.card_list > .cardText {
  font-size: 13px;
}

.mypage > #mypageMain > .card_button {
  width: 280px;
  height: 15px;
  background-color: #d3d3d3;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */
/*
==================
통계
==================
 */
.mypage > #mypageMain > #status {
  width: 326px;
  /* height: 492px; */
  background: #ffffff;
  box-shadow: 0px 143px 57px rgba(0, 0, 0, 0.01),
    0px 81px 48px rgba(0, 0, 0, 0.05), 0px 36px 36px rgba(0, 0, 0, 0.09),
    0px 9px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;

  font-weight: 600;
  font-size: 17px;
  line-height: 19px;
  /* display: flex;
  align-items: left;
  text-align: center; */
  margin: 40px auto;
}
