#agreeMentContainer {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  width: 100%;
  z-index: 120;
  background-color: #f3f6fa;
}
#agreeMentContainer > #agreementTop > .mainImg {
  width: 15px;
  height: 20px;
}
#agreeMentContainer > #agreementTop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px;
}
#agreeMentContainer > #agreementTop > .backImg {
  width: 30px;
  margin-right: 5%;
  margin-left: 1%;
}
#agreementTop > #horok {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}
#agreeMentContainer > #agreementTop > #oneAndTwoImgBox {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 10px;
}
#agreeMentContainer > #agreementTop > #oneAndTwoImgBox > .oneAndtwo {
  width: 30px;
  height: 30px;
}
#agreeMentContainer > #agreementTop > #oneAndTwoImgBox > .grayLine {
  width: 10px;
}
#agreementBoxs {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

#agreementBoxs > #agreementText {
  height: 30%;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  color: #808080;
}
#agreementBoxs > #articleBox {
  margin-top: 10px;
  width: 95%;
  height: 50%;

  display: flex;
  flex-direction: column;
  align-content: space-evenly;
}
#articleBox > .horokArticle {
  width: 100%;
  height: 20%;
  font-size: 13px;
  font-weight: 400;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
}
.horokArticle > .agreecircle {
  width: 15px;
  height: 15px;
}
.horokArticle > .agreeText {
  width: 70%;
  padding-left: 10px;
}
.horokArticle > .lookArticle {
  display: flex;
  justify-content: right;
  width: 15%;
}
#articleBox > #articleTitle {
  width: 100%;
  height: 15%;
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 500;
}

#agreeMentContainer > #agreeButton {
  width: 200px;
  height: 45px;
  color: white;
  background-color: #0038ff;
  border-radius: 50px;
  font-size: 15px;
  font-weight: bold;
}

#articleBox > #agreeAll > .agreecircle {
  width: 21px;
  height: 21px;
}
#articleBox > #agreeAll > .agreeText {
  font-size: 16px;
  font-weight: 400;
  font-weight: bolder;
}

#articleBox > #line {
  border: 1px solid black;
  height: 0px;
  width: 100%;
}

#articleBox > #agreeAll {
  height: 15%;
}

#articleBox > .horokArticle > .agreeText {
  font-size: 13px;
}

#agreeMentContainer > .articleModal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
#agreeMentContainer > .articleModal > .blackBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;

  z-index: 121;
}
#agreeMentContainer > .articleModal > .blackBoxBottom {
  position: absolute;
  top: 77%;
  left: 0;
  width: 100%;
  height: 30%;

  z-index: 121;
}
.horokArticle > .lookArticle > .rightArrows {
  width: 20px;
}
